
body{
	margin:0;
	font-family: Helvetica, Arial, Sans-Serif;


}
header {
	height:72px;
	background:#FFFFFF !important;
	color:	#000000;
	font-family:Sans-Serif;
	font-weight: bold;
	font-size:12px;
	box-shadow: 0 0 5px 0 #888888;
}
.nav{

	display:block;
	height:62px;
	padding-top:5px;
	padding-bottom:5px;
}
header a{
	color: #63645D;
	text-decoration:none;

}
.navigation-bar {
	padding:0;
	margin:0;
	list-style:none;
}
.page-content{
	/*text-align:center;*/
	margin:0 auto;
	width:950px;
	margin-left:284px;
	/*margin-left:20%;*/
}
.nav-item{
	display:inline-block;
}
.navigation-item{
	
	display:inline-block;
	padding-left:15px;
	padding-right:15px;
	background: url(../source/img/divider.png) right center no-repeat  ;

}

.navigation-bar> li:last-child{
	padding-left:15px;
	padding-right:15px;
    background: none ;

}
.user-tools{
	/*float:right;*/
	padding:0;
	margin:0;
}
.comverse-logo{
	float:left;
	
}
.user-tools>div>ul{
    padding:0;
	margin:0;
	list-style:none;
	/*display:inline-block;*/

}
.user-tools >div>ul li{	
	display:inline-block;
}

.user-tools>div{
		padding-top:4px;
		padding-bottom:15px;

}


.navigation-bar{
	padding-top:44px;
}

.lang-select{
	width:45px;
	height:15px;
   -moz-appearance: none;
   appearance: none;
   border:none;
   background: url(../source/img/divider.png) right center no-repeat  ;

	
}


.input-nav-search{
	/*padding:6px 15px 6px 30px;
		margin:3px; */
	width:140px;
	height:15px;
    padding:0;
	margin:0;
	background:url('../source/img/search_line_devider.png') no-repeat  110px, url('../source/img/searchBtn.png') no-repeat 120px ; 
	
	border-radius:8px; 

	
}
.comverse-logo{
    height: 57px;
	width:190px;
	float:left;
}
 /****************************************uper-section****************************/
 body{
	background:url("../source/img/slide-bg-complexity.jpg") fixed no-repeat;
	background-size:100% 502px;
	/*background-size:cover;*/
	
}
 }
 .upper-section{
	 
	 	 height:430px;

	 
 }
 h1{
	 margin:0;
	 padding:0;
 }
 .upper-section a{
		text-decoration:none;
 
 }
 .no-style{
	 margin:0;
	 padding:0;
	 list-style:none;	 
 }
.IT-complexity-top{
	height:185px;
	width:340px;
	padding-top:35px;
	padding-bottom:35px;
	color:white;
	font-weight:normal !important;
}
.learn-more-button{
	background: url('../source/img/btnArrow.png') no-repeat 140px center #2492C8;
	width:160px;
	height:30px;
	box-shadow: 1px 1px 1px 1px #2492C8;
	border-radius:6px;
	border:none;
	

}
.learn-more-button a{
	color:#FFFFFF;
	float:left;
}
.IT-complexity-top >h1{
	color:white;
	font-size:30px;
	font-weight: normal;
	padding-bottom:10px;

	
}
.IT-complexity-bottom{
	height:140px;
	padding-top:17px;
	padding-bottom:17px;
	
}
.comverse-properties-list {
	height:140px;

}


.color-item{
	display:inline-block;
	width: 275px;
	height:140px;
	border-radius:10px;
	box-shadow: 0 1px 1px 0 #888888;
	opacity: 0.75;
	/*padding-top:20px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:10px;
	font-weight: normal;	*/
}
.color-item:hover{
		opacity: 1;

}
.color-content{
	font-size:17px;
	font-weight: normal;

	color:white;
	width:200px;
	height:110px;
	padding-left:10px;
	padding-top:20px;
}

.pink-item{
	background-color:#FA429F;
	margin-right:35px;
}
.green-item{
		background-color:#6AC135;
		margin-right:35px;
}
 .orange-item{
		background-color:#FF7518;
}

 .more-details{
   margin-top:30px;
 }
 .more-details a{
	 color:#FFFFFF;
	 font-size:12px;
 }


 .more-details >img{
	 float:left;
	 width:25px;
	 height:20px;
 }
 /****************************************what-we-can-do-for-you-section****************************/
 .second-section{
	background: url('../source/img/weDoBG.png') repeat scroll 0 0, radial-gradient(ellipse at center, #59bedb 0%,#3399cc 100%);
	height:330px;
	 
 }
 .service-title{
	 text-align:center;
	 padding-top:30px;
	 padding-bottom:30px;
	 color:#FFFFFF;
	 font-weight: normal;
	 font-size:35px;

 }
 .service-list{
	 height:100px;
padding-bottom:50px;
 }
  .service-list img{
	  float:right;
	  margin-right:25px;
 }
 
 .service-item{
	 display:inline-block;
	 height:120px;
	 width:150px;
 }
 .service-descrioption{
	 text-align:center;
	 float:left;
	 color:#FFFFFF;
	 font-size:15px;
	 
 }
 .service1-img:hover{
	  content:url('../source/img/solution_icon_smart-money_hover.png');
	  	opacity: 1;

 }
 .service2-img:hover{
	  content:url('../source/img/solution_icon_smart-money_hover.png');
 }
 .service3-img:hover{
	  content:url('../source/img/solution_icon_optimize-efficnt_hover.png');
 } 
 .service4-img:hover{
	  content:url('../source/img/solution_icon_smart-money_hover.png');
 } 
 .service5-img:hover{
	  content:url('../source/img/solution_icon_smart-money_hover.png');
 }
  .service6-img:hover{
	  content:url('../source/img/solution_icon_smart-money_hover.png');
 }
 
 .solution-btn{
	 padding:none;
	 margin:none;
	 border:none;
	 background: url('../source/img/btnArrow.png') no-repeat 155px center #3088AA ;
	 width:170px;
	 height:30px;
	 box-shadow: 1px 1px 1px 1px #2492C8;
	 border-radius:6px;
	 color:#FFFFFF;
	 opacity: 0.80;
	 margin-left:350px;
 }
 .solution-btn:hover{
	 	  	opacity: 1;
 }
  /****************************************what-happening-at-comverse-section****************************/
  .third-section{
	  background: url('../source/img/news-and-events-bg.jpg') no-repeat;
	  background-size:100% 100%;
	  height:400px; 
  }
 .whats-happening-title{
	 
	 text-align:center;
	 color:#FFFFFF;
	 padding-top:40px;
	 padding-bottom:40px;
	 
 }
 .occur-title{
	 color:#FFFFFF;
 }
 .what-happening-item{
	
	display:inline-block;
}
.occur-item {
	
	display:inline-block;
	width:280px;
	height:200px;
}

.calender{
	
	/*background-color:#FFFFFF;
	opacity:0.5;*/
	background-color: rgba(251, 251, 249, 0.5);
	height:120px;
	border-radius:4px;
    box-shadow:1px 1px 1px 1px gray;
	padding:10px;
	
}
.calender ul{
	width:80px;
	height:120px;
	background:  radial-gradient(ellipse at center, #59bedb 0%,#3399cc 100%);
	color:white;
	float:left;
	margin-right:10px;
	border-radius:3px;
	box-shadow:1px 1px 1px 1px gray;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
.calender p{
	width:170px;	
}
.calender-item{
	display:inline-block;
}

.month{
	margin-top:10px;
	padding-top:15px;
	border-top:dashed white;
	border-width: 1px;
	font-size:15px;
	font-weight:normal;
}
.day{
		padding-top:20px;
		font-size:40px;
}
.calender:hover{
		background-color: rgba(251, 251, 249, 0.90);
}
.occur-icon{
	float:left;
	height:30px;
	padding-top:15px;
}
.occur-icon a{
	text-decoration:none;
	color:#FFFFFF;

}

.event1{
	padding-left:25px;
	padding-right:25px;
}

.occur-icon-news:hover img  {
	content:url('../source/img/eventListIconNews_hover.png');
	color:black;
}
.occur-icon-event:hover img {
	content:url('../source/img/eventListIconEvents_hover.png') ;
	color:black;
}


/*.occur-icon-news{
	background: url('../source/img/eventListIconNews.png') left  no-repeat;
}
.occur-icon-news:hover{
	color:black;
	background: url('../source/img/eventListIconNews_hover.png') left no-repeat;
}
.occur-icon-event:hover img{
	color:red;
	content: url('../source/img/eventListIconEvents_hover.png');
	
}
*/

  /****************************************stories-section****************************/
  
  .stories-section{
	  height:450px;
	  background-color:rgb(236,236,236);
	  color:gray;
	  
  }
  
  .stories-list{
	  padding:0;
  }
  .story{
	  display:inline-block;
	  background-color:yellow;
	  height:300px;
	  
  }

  .sergey-story{
	  width:345px;
	  float:left;
	  margin-right:15px;
	  
  }
 .sergey-story-content{
	 background-color:#FFFFFF ;
	 height:150px;
	 margin-bottom:10px;
	 padding:20px;
	 
 }
  .sergey-footer{
	  clear:left;
	  padding-top:20px;
	  font-size:12px;
	  
  }
  .sergey-logos{
	  height:100px;
	  background-color:black;
  }
.sergey-logos-list li{
	display:inline-block;
	}
.logo2{
	padding-left:6px;
	padding-right:6px;
	padding-top:5px;
	}

/***************************************************************/

  .adale-story{
	  width:345px;
	  float:center;
  }
  .ravi-story{
	  width:230px;
	  float:right;
	  
  }
  
  
 .profile-photo{
	 float:left;
 }

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  