
body{
	margin:0;
	font-family: Helvetica, Arial, Sans-Serif;


}
header {
	/*height:72px;*/
	background:#FFFFFF !important;
	color:	#FFFFFF;
	font-family:Sans-Serif;
	font-weight: bold;
	font-size:12px;
	box-shadow: 0 0 5px 0 #888888;
}


/*----------------------------------------------------------------------------------------------*/
.select-item{
	display:inline-block;
}

.nav-item{
	display:inline-block;
	
}

.left-nav{
	float:left;
}
.right-nav{
float:right;	
}
.middle-nav{
	margin-top:50px;
	margin-left:30px;
}
.hidden{
	display:none;
}
/*--------------------------------------------------------------------------------------------*/


.nav{

	display:block;
	/*height:62px;*/
	padding-top:5px;
	padding-bottom:5px;
}


.page-content{
	/*text-align:center;*/
	margin:0 auto;
	width:940px;
	max-width:940px;
	/*margin-left:284px;*/
	padding:0;
	/*margin-left:20%;*/
}

.navigation-item{
	
	display:inline-block;
	/*padding-left:15px;*/
	padding-right:15px;
	background: url(../source/img/divider.png) right center no-repeat  ;

}

.navigation-bar> li:last-child{
	padding-left:15px;
	padding-right:15px;
    background: none ;

}


.user-tools >ul li{	
	display:inline-block;
}

.user-tools{
		padding-top:4px;
		padding-bottom:15px;
		margin:15px 0 4px p ;

}



.lang-select{
	width:45px;
	height:15px;
   -moz-appearance: none;
   appearance: none;
   border:none;
   background: url(../source/img/divider.png) right center no-repeat  ;

	
}


.input-nav-search{

	width:140px;
	height:15px;
    padding:0;
	margin:0;
	background:url('../source/img/search_line_devider.png') no-repeat  110px, url('../source/img/searchBtn.png') no-repeat 120px ; 
	border-radius:8px; 

	
}
#search-icon-mobile,#input-nav-search-mobile,#hamburger-icon,#hamburger-menu,.comverse-mobile-logo{
	display:none;
}
 /****************************************uper-section****************************/
 body{
	/*background:url("../source/img/slide-bg-complexity.jpg") fixed no-repeat;
	background-size:100% 100%;*/
	
}
 
 .num-mobile{
	 display:none;
 }

 .upper-section{ 
     background:url("../source/img/slide-bg-complexity.jpg") no-repeat fixed  center center  ;
	 background-size:cover;
	 margin-top:0;
	 
	 
 }
 .upper-section-content{
	 /*height:500px;*/
 }
 h1{
	 margin:0;
	 padding:0;
 }
 .upper-section a{
		text-decoration:none;
 
 }
 .no-style{
	margin:0;
	 padding:0;
	 list-style:none;	 
	 text-decoration:none;
 }
.IT-complexity-top{
	height:185px;
	width:340px;
	padding-top:35px;
	padding-bottom:35px;
	color:white;
	font-weight:normal !important;
}
.learn-more-button{
	background: url('../source/img/btnArrow.png') no-repeat right center #2492C8;
	/*width:160px;
	height:30px;*/
	box-shadow: 1px 1px 1px 1px #2492C8;
	border-radius:6px;
	border:none;
    margin-top:-35px;	
	padding: 5px 50px 5px 0 ;

}
.learn-more-button{
	color:#FFFFFF;
	float:left;
	opacity:0.85;
}
.learn-more-button:hover{
	opacity:1;
}
.sqr-btn-list{
	margin-top:20px;
	clear:left;
}
.btn-item{
	display:inline-block;
}
.btn{
	width:15px;
	height:15px;
	border:none;
	border-radius:3px;
	background-color:#FFFFFF;
	opacity:0.85;
}
.btn:hover{
	opacity:1;
}
.active-btn{
		background-color:rgb(46,149,202);

}
.IT-complexity-top >h1{
	color:white;
	font-size:30px;
	font-weight: normal;
	padding-bottom:10px;

	
}
.IT-complexity-boxs{
	height:140px;
	margin-top:30px;
	padding-bottom:20px;
	
}
.comverse-properties-list {
	/*height:140px;*/

}


.color-item{
	display:inline-block;
	width: 300px;
	height:150px;
	border-radius:10px;
	box-shadow: 0 1px 1px 0 #888888;
	opacity: 0.75;
	/*padding-top:20px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:10px;
	font-weight: normal;	*/
}
.color-item:hover{
		opacity: 1;

}
.color-content{
	/*font-size:17px;*/
	font-weight: normal;

	color:white;
	/*width:200px;
	height:110px;*/
	padding-left:10px;
	padding-top:20px;
}

.pink-item{
	background-color:#FA429F;
	float:left;
	/*margin-right:35px;*/
}
.green-item{
		background-color:#6AC135;
		margin-left:20px;
		/*margin-right:35px;*/
}
 .orange-item{
		background-color:#FF7518;
		float:right;
}

 .more-details{
   margin-top:30px;
 }
 .more-details a{
	 color:#FFFFFF;
	 font-size:12px;
 }


 .more-details >img{
	 float:left;
	 width:25px;
	 height:20px;
 }
 /****************************************what-we-can-do-for-you-section****************************/
 .second-section{
	background: url('../source/img/weDoBG.png')  repeat scroll 0 0 , radial-gradient(ellipse at center, #59bedb 0%,#3399cc 100%);
	background-size:cover;
	/*height:330px;*/
	 
 }
 .service-title{
	 text-align:center;
	 padding-top:30px;
	 padding-bottom:30px;
	 color:#FFFFFF;
	 font-weight: normal;
	 font-size:35px;

 }
 .service-list{
padding-bottom:50px;

 }
  /*.service-list img{
	  float:right;
	  margin-right:45px;
 }*/
 
 .service-item {
	 display:inline-block;
	 width:140px;
	 margin:0 5px 0 5px;
	 
 }
 /*.s-icon{
	 	 position: relative

 }
  .s-icon img{
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
 }*/
 /*.service-content{
	 height:120px;
	 width:150px;
 }
 .s-icon{
	 width:50px;
	 height:50px;
 }
 .s-icon img{
	 width:100%;
	 height:100%;
	 
 }*/
 .service-descrioption{
	 text-align:center;
	 color:#FFFFFF;
	 font-size:13px;
	 float:left;
	 

 }
/*.s1:hover{
	  content:url('../source/img/data-monetization-hover.png');
	  	opacity: 1;	
}*/
 .service1-img:hover{
	  content:url('../source/img/data-monetization-hover.png');
	  	opacity: 1;

 }
 .service2-img:hover{
	  content:url('../source/img/robot-icon-hover.png');
	  
 }
 .service3-img:hover{
	  content:url('../source/img/flag-icon-hover.png');
 } 
 .service4-img:hover{
	  content:url('../source/img/cloud-icon-hover.png');
 } 
 .service5-img:hover{
	  content:url('../source/img/managed-services-hover.png');
 }
  .service6-img:hover{
	  content:url('../source/img/social-icon-hover.png');
 }
 
 .solution-btn{
	 padding:none;
	 margin:none;
	 border:none;
	 background: url('../source/img/btnArrow.png') no-repeat 155px center #3088AA ;
	 width:170px;
	 height:30px;
	 box-shadow: 1px 1px 1px 1px #2492C8;
	 border-radius:6px;
	 color:#FFFFFF;
	 opacity: 0.80;
	 margin-left:350px;
	 margin-bottom:50px;
 }
 .solution-btn:hover{
	 	  	opacity: 1;
 }

  /****************************************what-happening-at-comverse-section****************************/
  .third-section{
	  background: url('../source/img/news-and-events-bg.jpg')  no-repeat;
	  background-size:100% 100%;
	/*  height:400px; */ /*mobile*/ 
  }
 .whats-happening-title{
	 
	 text-align:center;
	 color:#FFFFFF;
	 padding-top:40px;
	 padding-bottom:40px;
	 
 }
 .occur-title{
	 color:#FFFFFF;
 }
 .event-title{
	 margin-left:25px;
 }
 .what-happening-item{
	
	display:inline-block;
}
.occur-item {
	
	display:inline-block;
	width:280px;
	height:200px;
}

.calender{
	
	/*background-color:#FFFFFF;
	opacity:0.5;*/
	background-color: rgba(251, 251, 249, 0.5);
	height:120px;
	border-radius:4px;
    box-shadow:1px 1px 1px 1px gray;
	padding:10px;
	
}
.calender ul{
	width:80px;
	height:120px;
	background:  radial-gradient(ellipse at center, #59bedb 0%,#3399cc 100%);
	color:white;
	float:left;
	margin-right:10px;
	border-radius:3px;
	box-shadow:1px 1px 1px 1px gray;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
.calender p{
	width:170px;	
}
.calender-item{
	display:inline-block;
}

.month{
	margin-top:10px;
	padding-top:15px;
	border-top:dashed white;
	border-width: 1px;
	font-size:15px;
	font-weight:normal;
}
.day{
		padding-top:20px;
		font-size:40px;
}
.calender:hover{
		background-color: rgba(251, 251, 249, 0.90);
}
.occur-icon{
	float:left;
	height:30px;
	padding-top:15px;
}
.occur-icon a{
	text-decoration:none;
	color:#FFFFFF;

}

.event1{
	padding-left:25px;
	padding-right:25px;
}

.occur-icon-news:hover img  {
	content:url('../source/img/eventListIconNews_hover.png');
	color:black;
}
.occur-icon-event:hover img {
	content:url('../source/img/eventListIconEvents_hover.png') ;
	color:black;
}




  /****************************************stories-section****************************/
  
  .stories-section{
	/*  height:520px;*/
	  background-color:rgb(236,236,236);
	 background-size:100% 100%;
	/*  background-size:cover;*/
	  color:grey;
	  
  }
 .stories-title{
	 text-align:center;
	 padding-top:30px;
	 padding-bottom:30px;
	 font-weight:normal;
	 font-size:35px;

	 
 }
  .stories-list{
	  padding:0;
	  margin:0;
  }
  .story{
	  display:inline-block;
	/*  background-color:yellow;*/
	  /*height:300px;*/
	  
  }
  .logo-item{
	width:105px;
	height:90px;
	text-align:center;
    background-color:white;
	/*position: relative;*/

}
.logo-item>img{
	-webkit-filter: grayscale(100%) opacity(50%);
	vertical-align:middle;
    height: 100%;
    width: 100%;
}


/*.logo-item >img:after,.story>div:after{*/
.sergey-story-content:after,.adale-story-content:after,.ravi-story-content:after,.logo-item :after{
    background: #3398CC url('../source/img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg') center center no-repeat;
    content: "";
    width: 100%;
    height: 0;
    transition: height 0.4s ease-in;
    display: block;
    bottom:0;
    left: 0;
    position: absolute;
	}

.logo-item:hover:after,.story>div:hover:after{
    height: 100%;
}



/*==================sergey-story==================*/

  .sergey-story{
	 /* width:345px;*/
	  float:left;
	  margin-right:15px;
	  
  }
 .sergey-story-content{
	 background-color:#FFFFFF ;
	/* height:160px;*/
	 margin-bottom:10px;
	 padding:15px;
	 border-radius:3px;
	 position: relative;

	 
 }
   
 .profile-photo{
	 float:left;
	 padding-bottom:10px;
	 padding-right:10px;
 }

  .sergey-footer{
	  clear:left;
	  padding-top:15px;
	  font-size:12px;
	  font-weight:bold;
	  border-top:solid 2px rgb(236,236,236);
	 /* background:url("../source/img/3mob_w108px_X_h95px.jpg") right center  no-repeat;*/
	  
  }
   .sergey-footer-icon{
	 margin-top:-40px;
	 margin-left:250px;
	width: 60px;
    height: 50px;
	   -webkit-filter: grayscale(100%) opacity(50%);

 }
  .sergey-name{
      color:rgb(71,172,221);
	  
  }
  .sergey-comment{
	  font-size:20px;
	  background:url("../source/img/quote-grey.png")   no-repeat;
	 /* text-align: justify;*/
	  text-indent: 30px;
	  float:right;
	  width:200px;


  }
  .sergey-logos{
	/*  height:100px;*/
	 /* background-color:black;*/
  }

.sergey-logos-list li{
	display:inline-block;
	}
/*.sergey-logo2{
	padding-left:8px;
	padding-right:8px;
	padding-top:5px;
	}*/
	.sergey-logo2{
		margin-left:12px;
	}
	.sergey-logo1,.sergey-logo2,.sergey-logo3{
		border-radius:3px;
	}
.sergey-logo1{
	float:left;
}
.sergey-logo3{
	float:right;
}


/*==================adale-story==================*/


    .adale-story{
	 /* width:345px;*/
	  float:center;
	  margin-right:15px;
	  
  }
 .adale-story-content{
	 background-color:#FFFFFF ;
	/* height:160px;*/
	 padding:15px;
	 border-radius:3px;
	 margin-top:10px;
	 position: relative;

 }
   
 .profile-photo{
	 float:left;
	 padding-bottom:10px;
 }
.adale-footer{
	  clear:left;
	  padding-top:10px;
	  font-size:12px;
	  font-weight:bold;
	  border-top:solid 2px rgb(236,236,236);
	  
	  
  }
  .adale-footer-icon{
	 margin-top:-40px;
	 margin-left:200px;
   -webkit-filter: grayscale(100%) opacity(50%);

 }
  .adale-name{
      color:rgb(71,172,221);
	  display:inline-block;
	  clear:left;
	  
  }
    .adale-name >div{
width:310px;
  }
  .adale-comment{
	  font-size:16px;
	 width:200px;
	 float:right;



  }
  .adale-logos{
	/*  height:100px;*/
	/*  background-color:black;*/
  }
.adale-logos-list li{
	display:inline-block;
	}

.adale-logos-list li{
	display:inline-block;
	}

	
.adale-logo1{
	float:left;
}
.adale-logo2{
	margin-left:12px;
	
	}
.adale-logo3{
	float:right;
}

.adale-logo1>img{
-webkit-filter: opacity(50%); filter: opacity(50%);
}
	.adale-logo1,.adale-logo2,.adale-logo3{
		border-radius:3px;
	}
  
/*==================ravi-story==================*/
  .ravi-story{
	/*  width:230px;*/
	  float:right;
  }
  
 .ravi-story-content{
	 background-color:#FFFFFF ;
	 /*height:160px;*/
	 margin-bottom:10px;
	 padding:15px;
	 border-radius:3px;
	 position: relative;
	 
 }
   
  .ravi-footer{
	  clear:left;
	  padding-top:15px;
	  font-size:12px;
	  font-weight:bold;
	  border-top:solid 2px rgb(236,236,236);
	  -webkit-filter: grayscale(100%) opacity(50%);

	  
  }
    .ravi-footer-icon{
	 margin-top:-40px;
	 margin-left:140px;
	width: 60px;
    height: 50px;
 }
  .ravi-name{
      color:rgb(71,172,221);
	  
  }
  .ravi-comment{
	  font-size:20px;
	  background:url("../source/img/quote-grey.png")  left top no-repeat;
	  text-align: justify;
	  text-indent: 30px;
	  padding-bottom:20px;
	  width:200px;


  }
  .ravi-logos{
	  /*height:100px;*/
	  /*background-color:black;*/
  }
.ravi-logos-list li{
	display:inline-block;
	}

	
.ravi-logo2{
	float:right;
	border-radius:3px;

	}

  /*======================================*/
   .all-stories-btn{
	 padding:none;
	 border:none;	 
	 background: url('../source/img/btnArrow.png') no-repeat right center rgb(50,153,204) ;
	 width:170px;
	 height:30px;
	 box-shadow: 1px 1px 1px 1px #2492C8;
	 border-radius:6px;
	 color:#FFFFFF;
	 opacity: 0.80;
	 margin:30px 0 30px 0px;
 }
  
     .all-stories-btn:hover{
		 	 opacity: 1;


 }
  
  .up-botton{
	  float:right;
	  margin:59px 0 0 0 ; 
  }
  
  /***********************************footer*********************************************/
  .main-footer{	  
	  	background: url('../source/img/footer-bg.png')  no-repeat;
		/*background-color:black;*/
		background-size:cover;
		padding-top:0;
		color:#FFFFFF;
  }
   .main-footer h2{

	   font-size:9px;
   }
  .footer-item{	  
	  display:inline-block;
  }
  /*-------------refrence part -------*/
  .ref-item{
	  display:inline-block;
	  float:left;
	  font-size:12px;
	  width:25%;
  }
  .references{
	  /*float:left;*/
	  /*padding:20px 50px 10px 10px;*/
	  width:70%;
  }
    .references h2{
		font-weight:bold;
		font-size:1em;
padding-bottom:10px;

  }
  .references li{
	  padding-top:7px;
  }
  .key-sol-list {
	 /* margin-right:100px;*/
	  
  }
  .products-list {
	 /* margin-right:100px;*/

  }
  .company-list {
  }
    .ref-item1{
	  	  max-width:235px;

	  float:left;
  }
      .ref-item2{
	  	  max-width:235px;

	  margin-left:10%;
  }
  .ref-item3{
	  max-width:235px;
	  float:right;
  }
  /*-----------------connect us -------------------*/
  .connect-us{
	 float:right;
	  background-color:rgba(221, 211, 203, 0.15);
	  font-size:15px;
	  padding:20px 20px 10px 10px;
	  width:30%;
	  max-width:235px;
  }
   .connect-us h1{
	  	font-size:17px;
  }
   .connect-us >h1{
	   text-align:center;
	   color:rgb(78,167,211);
	   font-weight: bold; 
   }	   
  .blog-post{
	  padding:20px 0 20px 0;
	  border-bottom:1px solid grey;
	  }
  .post-item{
	  
	  display:inline-block;
  }
  .post{
	  /*float:right;*/
	/*  height:60px;*//*mobile*/ 
	  width:140px;
	  padding-left:10px;
  }
  .post-date{
	 /* height:50px;*//*mobile*/ 
	  width:50px;	    
  }
 .p-day{
	  font-weight: bold;
	 text-align:center;
	 font-size:40px;
 } 
 .p-month{
	 text-align:center;
	 font-size:20px; 
 }


 .subscribe-title{
	 padding:15px 0 15px 0 ;
	 	   color:rgb(78,167,211);
	   font-weight: bold; 
 } 
 .social-media-logos{
	 padding:50px 0 0 0 ;
 }
  
  .SM-logo{
	  display:inline-block;
	  
  }
  .youtube:hover{
	  content:url('../source/img/socialMenuIcon-youtube_hover.png');
  }
    .twitter:hover{
	  content:url('../source/img/socialMenuIcon-twitter_hover.png');
  }
      .linkedin:hover{
	  content:url('../source/img/socialMenuIcon-linkdin_hover.png');
  }
  .email-submit{
    background: linear-gradient(to bottom, #40a5d7 , #2a92c6);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    width: 30%;
    float: right;
    text-transform: uppercase;
	  
  }
  .email-input{
	  
	width: 67%;
   /* height: 26px;*//*mobile*/ 
    margin: 0;
    padding: 0 2px 0 5px;
    border: none;
    border-radius: 2px;
    background: white;
  }
   .copyrights{
	 display:inline-block;
	 padding-top:50px;
	 font-size:12px;
	 color:grey;
 }  
 
 .mobile-footer{
	 
	 display:none;
 }